.testimonials_container{
    width: 100%;
    max-height: 50% !important;
    padding-bottom: 4rem;
    
}
.swiper{
    .swiper-wrapper{
        .swiper-slide{
            height: auto !important;
        }
    }
}